

body{margin:0;padding:0;display:"hhhhhh" /200px
			".bmcc."
			".ddda."
			".ffff."
	* 300px 210px 340px 350px *;width:100%;}header{position:h;height:150px;}#bulletin{position:b;height:700px;}#menu{position:m;text-align:left;}#contentTop{position:c;margin:.5em;margin-left:50px;}#contentBottom{position:d;margin:.5em;}aside{position:a;}footer{position:f;text-align:center;font-weight:bold;}
